<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <button mat-icon-button (click)="toggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Adopte un frigo</span>
      </div>
      <div fxFlex="40%">
        <mat-form-field class="search-input" appearance="fill">
          <input matInput placeholder="Recherche">
        </mat-form-field>
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div *ngIf="isUserConnected()">
        <mat-menu #rightMenu="matMenu">
          <button mat-menu-item>Logout</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="rightMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      
      <div *ngIf="!isUserConnected()">
        <button mat-button>Connexion</button>
      </div>
      
    </mat-toolbar-row>
  </mat-toolbar>