.scan {
    .header {
        position: absolute;
        width: 100%;
        padding: 16px;
    }
    #video {
        width: 480px;
        height: auto; 
    }
    .tsrObj {
        width: 100%;
        padding-right: 8px;
    }

    .screens {
        height: auto;
        .captures {
            height: 360px;
            overflow: hidden;
            overflow-y: scroll;
        }
    }
    
}