#shoppingList  {
    width : 50%
}
#shoppingListItemsDiv {
    width : 50%;
    left: 50%;
}
#shoppingListItems  {
    width : 50%;
    left: 50%;
    position: absolute;
    top: 0%;

}
#addShoppingList {
    position: relative;
}
#addItems {
    position: relative;
    left: 100%;
}