.welcome {

    .app-link {
        position: absolute;
        width: 100%;
        margin: auto;
        top: 250px;
        .mat-raised-button {
            span {
                margin-left: 4px;
            }
        }
    }

    .who {
        background-color: #320b86;
        padding-top:12px;
        .mat-h3 {
            color: white;
        }
        .content {
            background-color: #9a67ea; 
        }
    }
    
    .function {
        height: 550px;
        width: 80%;
        margin: auto;
        margin-top: 12%;
    }
    
    .function h3{
        font-family: 'Flama Condensed';
        font-weight: 400;
        text-transform: uppercase;
    }
}