@import '~@angular/material/theming';
@import '../../styles/app-theme.scss';

.dashboard{
    background-color: mat-color($primary, lighter, 1);
    min-height: calc(100% - 64px);
    height: auto;
    padding: 32px;     

    .mat-grid-tile {
        background-color: white;
        .mat-icon {
            color: mat-color($primary);
            font-size: 48px;
            width: 48px;
            height: 48px;
        }
    }
}